html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main .main-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 auto; */
  align-items: center;
}

main .main-container--div {
  margin: 60px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .main-textarea {
  margin-bottom: 20px;
}

main div#tweet {
  background: #fff;
  border: 2px solid #e6ecf0;
  border-radius: 8px;
  line-height: 20px;
  width: 300px;
  min-height: 80px;
  vertical-align: top;
  padding: 5px 10px;
}

span.tweet-error {
  color: red;
}

header {
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

header .header-logo {
  height: 90px;
}

header #header-welcome {
  display: flex;
  flex: 0 1 350px;
  justify-content: space-around;
}

header .header-avatar {
  align-self: center;
}

header .header-avatar img{
  border-radius: 50%;
  border: 1px solid #ccc;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #444444;
  width: 100%;
  color: white;
}

.container-tweets{
}

.container-tweets ul{
  padding-left: 0;
  list-style: none;
}

.container-tweets-state {
  display: flex;
  justify-content: space-between;
}




/* media queries */
@media (min-width: 768px) {
  .main-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .main-container {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .main-container {
        width: 1170px;
  }
}