html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

header .header-logo {
  height: 90px;
}

header #header-welcome {
  display: flex;
  flex: 0 1 40%;
  justify-content: space-around;
}

header .header-avatar {
  align-self: center;
}

header .header-avatar img{
  border-radius: 50%;
  border: 1px solid #ccc;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #444444;
  width: 100%;
  color: white;
}