html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #dee1ec;
}

a, a:hover, a:visited {
  color: #0b8457;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

main .main-container {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
}

main .main-container--div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-container--div--logo {
  margin-bottom: 20px;
}

main .main-container--tweet {
  margin-top: 20px;
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

main .main-container--div--btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0,0,0,0.2);

  position: relative;
  padding-left: 44px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;

  padding: 6px 12px;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

main .main-container #ows-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-container #ows-login input{
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
}

main p#admin-checkbox {
  margin: 0;
  font-size: 14px;
}

main .main-textarea {
  margin-bottom: 20px;
}

main div#tweet {
  background: #fff;
  border: 2px solid #e6ecf0;
  border-radius: 8px;
  line-height: 20px;
  /* width: 300px; */
  min-height: 80px;
  vertical-align: top;
  padding: 5px 10px;
}

main .main-container--tweet #main-container--tweet-send-tweet {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0,0,0,0.2);

  position: relative;
  padding-left: 44px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;

  padding: 6px 12px;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



span.tweet-error {
  color: red;
}

header {
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
}

header .header-logo {
  /* height: 90px; */
}

header #header-welcome {
  display: none;
  flex: 0 1 350px;
  justify-content: space-around;
}

header .header-avatar {
  align-self: center;
}

header .header-avatar img{
  border-radius: 50%;
  border: 1px solid #ccc;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #444444;
  width: 100%;
  color: white;
}

.container-tweets{
}

.container-tweets ul{
  padding-left: 0;
  list-style: none;
}

.container-tweets ul li{
  border-bottom: 1px solid #10316b;
  padding-bottom: 15px;
}

.container-tweets-details {
  display: flex;
  justify-content: space-between;
}

.container-tweets-details-date,
.ows-user-tweets--date {
  font-size: 14px;
  color: #8e919a;
}

.container-tweets-details-state {
  font-size: 14px;
  color: #8e919a;
}

.container-tweets-details-state .container-tweets-details-state-,
.ows-user-tweets--user{
  color: #10316b;
  font-weight: bold;
}

.ows-user-tweets--username {
  font-size: 1.4rem;
  margin-top: 20px;
}

.ows-user-tweets--tweet {
  margin-top: 20px;
  border-bottom: 1px solid #10316b;
  display: flex;
  align-items: center;
}

.ows-user-tweets--date {
  font-size: 14px;
  margin-bottom: 10px;
}

.ows-user-tweets--details {
  flex: 1;
}

.ows-user-tweets--date-user {
  display: flex;
  justify-content: space-between;
}

.ows-btn-actions button {
  color: #fff;
  background-color: #0b8457;
  border-color: rgba(0,0,0,0.2);

  position: relative;
  padding-left: 44px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;

  padding: 6px 12px;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ows-user-tweets--tweet .ows-user-tweets--image {
  margin-right: 10px;
}

.ows-user-tweets--tweet .ows-user-tweets--image img {
  border-radius: 50%;
}

ul.ows-user-tweets--buttons {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

li.ows-btn-actions {
  list-style: none;
}




/* media queries */

@media (max-width: 576px) {
  .main-container {
    width: auto;
  }
  footer {
    display: none;
  }
}

@media (min-width: 577px) {
  .main-container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 1140px;
  }
}